[Unit]
Description=First Boot Setup
After=multi-user.target network-online.target
Before=kodi-gbm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/first-boot-setup
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
