[Unit]
After=multi-user.target
Before=sddm.service kodi-gbm.service

[Service]
Type=simple
ExecStart=/usr/bin/session-switch-handler
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

User=root
Group=root
SupplementaryGroups=wheel

LimitNOFILE=4096
KillMode=process

[Install]
WantedBy=multi-user.target